body{
    background-color:lightblue;
}
div{
    background-color:lightgray;
    width: 1000px;
    height: 1000px;
    margin: auto;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: rebeccapurple;
    height: 500px;
}



