body{
    background-color:lightblue;
}
div{
    background-color:lightgray;
    width: 200px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: rebeccapurple;
    height: 100px;
}



